@model IEnumerable<HitApp.Models.Supplier>
@{
    ViewBag.Title = "Home Page";
}

<h3><span>Suppliers</span></h3>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(s=>s.SupplierId)</th>
            <th>@Html.DisplayNameFor(n=>n.Name)</th>
            <th>@Html.DisplayNameFor(k=>k.KindOfSupplier.Heading)</th>
            <th>@Html.DisplayNameFor(t=>t.TIN)</th>
            <th>@Html.DisplayNameFor(a=>a.Address)</th>
            <th>@Html.DisplayNameFor(p=>p.PhoneNumber)</th>
            <th>@Html.DisplayNameFor(e=>e.Email)</th>
            <th>@Html.DisplayNameFor(c=>c.Country.Name)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var supplier in Model)
            {
            <tr>
                <td>@Html.DisplayFor(s=>supplier.SupplierId)</td>
                <td>@Html.DisplayFor(n=>supplier.Name)</td>
                <td>@Html.DisplayFor(k=>supplier.KindOfSupplier.Heading)</td>
                <td>@Html.DisplayFor(t=>supplier.TIN)</td>
                <td>@Html.DisplayFor(a=>supplier.Address)</td>
                <td>@Html.DisplayFor(p=>supplier.PhoneNumber)</td>
                <td>@Html.DisplayFor(e=>supplier.Email)</td>
                <td>@Html.DisplayFor(c=>supplier.Country.Name)</td>
                <td>
                    @Html.ActionLink("Edit","Edit","Supplier",new { id=supplier.SupplierId}, new { @class="btn btn-primary"})
                    @Html.ActionLink("Delete","Home", new { id = supplier.SupplierId }, new { @class="btn btn-danger"})
                </td>
            </tr>
            }
    </tbody>
</table>