@model HitApp.Models.User
@{
    ViewBag.Title = "Index";
}


<div id="login-div">
    @using (Html.BeginForm("Authorize", "Login"))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.LabelFor(u => u.UserName)
            @Html.TextBoxFor(u => u.UserName, new { @class = "form-control", autofocus = "autofocus" })
            @Html.ValidationMessageFor(u => u.UserName)
        </div>
        <div class="form-group">
            @Html.LabelFor(p => p.PassWord)
            @Html.PasswordFor(p => p.PassWord, new { @class = "form-control" })
            @Html.ValidationMessageFor(p => p.PassWord)
        </div>
        <label class="field-validation-error">@Html.DisplayFor(u => u.LoginErrorMessage)</label>
        <button id="login" type="submit" class="btn btn-primary">Login</button>
        <button id="login" type="reset" class="btn btn-primary">Clear</button>
       
    }
</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}